/*  your css code here. If applicable */
div{
	color: purple;
	background-color: lightblue;
	position: relative;
	padding: 200px;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}